body {
    background-color: lightgrey;
    font-family: 'Times New Roman', Times, serif;
}

.operator {
    background-color: gray;
}

#equals {
    background-color: gray;
}

#clear {
    background-color: gray;
}